
<div>

</div>

<div>
<h2>Contact Us</h2>
<div class="text-left">
  <img class="img-fluid" src="/static/img/logo/brain_lab_iitm_logo_full_img.png" style="width: 70%;" alt="IITM Brain Lab">
</div>
  MSB 207, Mechanical Sciences Block<br>
  Indian Institute of Technology Madras <br>
  India <br>
  📞 +91 44 2257 5067 <br>
  ✉️ iitmbrainlab@gmail.com

</div>
  
<!-- </div>
<p>
 <h3> Interested in joining the Fraser lab? </h3>
 We are always looking for motivated and talented people. <b>Open positions are listed on our <a href="{{ site.url }}/join">Join</a> page.</b><br>
 <br>
 We welcome applicants from <b>all</b> backgrounds.<br>

<p>
 <h3> Read our <a href="{{ site.url }}/philosophy/">lab compact and philosophy</a></h3>

</p>


<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul> -->
